<section class="shipping-label-wrapper">
  <table border="1" class="shipping-label mat-body">
    <tr>
      <td>
        <h1 class="mat-display-3 no-margin">P</h1>
      </td>
      <td>
        Postage stamp required
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2 class="mat-headline no-margin">PRIORITY MAIL</h2>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table class="from">
          <tr>
            <td>
              <strong>FROM</strong>
            </td>
          </tr>
          <tr>
            <td>
              Nadeem Ahmad
            </td>
          </tr>
          <tr>
            <td>
              108/391/1 TGS Lucknow
            </td>
          </tr>
          <tr>
            <td>
              Lucknow, Uttar Pradesh 226001
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table class="to">
          <tr>
            <td>
              <strong>TO</strong>
            </td>
          </tr>
          <tr>
            <td>
              Nadeem Ahmad
            </td>
          </tr>
          <tr>
            <td>
              108/391/1 TGS Lucknow
            </td>
          </tr>
          <tr>
            <td>
              Lucknow, Uttar Pradesh 226001
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <img src="./assets/barcode.gif" width="251" />
      </td>
    </tr>
  </table>
  <button mat-raised-button>
    <mat-icon>print</mat-icon> PRINT
  </button>
</section>