<section style="width: 700px; margin: 2rem auto;">
  <app-wizard [wizardContext]="shippingInfo" (complete)="onComplete($event)" #wizard>
    <app-wizard-header>Shipping Label Maker</app-wizard-header>
    <mat-progress-bar [value]="wizard.progress"></mat-progress-bar>
    <app-wizard-step name="to" [stepInfo]="receiverInfo">
      <h2 class="mat-headline">Enter the receiver's address</h2>
      <form class="flex-column" [formGroup]="receiverInfo">
        <mat-form-field appearance="fill">
          <mat-label>Receiver's Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter receiver's name here">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" placeholder="Enter street name here">
        </mat-form-field>
        <section class="flex-row">
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" placeholder="Select">
              <mat-option [value]="state.abbr" *ngFor="let state of dataService.states">{{state.name}}</mat-option>
            </mat-select>
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="city" placeholder="Select">
                <mat-option value="Alexandria">Alexandria</mat-option>
                <mat-option value="New York">New York</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Zip</mat-label>
            <mat-select formControlName="zip" placeholder="Select">
              <mat-option value="22333">22333</mat-option>
              <mat-option value="10001">10001</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section>
          <button type="button" appWizardPrevStepDirective mat-button>Previous</button>
          <button type="submit" [disabled]="!receiverInfo.valid" appWizardNextStepDirective color="primary"
            mat-raised-button>Next</button>
        </section>
      </form>
    </app-wizard-step>
    <app-wizard-step name="from" [stepInfo]="senderInfo">
      <h2 class="mat-headline">Enter the sender's address</h2>
      <form class="flex-column" [formGroup]="senderInfo">
        <mat-form-field appearance="fill">
          <mat-label>Sender's Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter sender's name here">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" placeholder="Enter street name here">
        </mat-form-field>
        <section class="flex-row">
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" placeholder="Select">
                <mat-option [value]="state.abbr" *ngFor="let state of dataService.states">{{state.name}}</mat-option>
            </mat-select>
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="city" placeholder="Select">
              <mat-option value="Alexandria">Alexandria</mat-option>
              <mat-option value="New York">New York</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Zip</mat-label>
            <mat-select formControlName="zip" placeholder="Select">
                <mat-option value="22333">22333</mat-option>
                <mat-option value="10001">10001</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section>
          <button type="button" appWizardPrevStepDirective mat-button>Previous</button>
          <button type="submit" [disabled]="!senderInfo.valid" appWizardNextStepDirective color="primary"
            mat-raised-button>Next</button>
        </section>
      </form>
    </app-wizard-step>
    <app-wizard-step [stepInfo]="weightInfo">
      <h2 class="mat-headline">Enter the parcel's weight</h2>
      <form class="flex-column" [formGroup]="weightInfo">
        <mat-form-field appearance="fill">
          <mat-label>Weight</mat-label>
          <input type="number" min="1" matInput formControlName="weight" placeholder="Enter weight in kg">
        </mat-form-field>
        <section>
          <button type="button" appWizardPrevStepDirective mat-button>Previous</button>
          <button type="submit" [disabled]="!weightInfo.valid" appWizardNextStepDirective color="primary"
            mat-raised-button>Next</button>
        </section>
      </form>
    </app-wizard-step>
    <app-wizard-step [stepInfo]="shippingOption">
      <h2 class="mat-headline">Select Shipping priority</h2>
      <form class="flex-column" [formGroup]="shippingOption">
        <mat-form-field appearance="fill">
          <mat-label>Shipping Options</mat-label>
          <mat-select formControlName="shippingOption" placeholder="Select">
              <mat-option value="1">GROUND</mat-option>
              <mat-option value="2">PRIORITY</mat-option>
          </mat-select>
        </mat-form-field>
        <section>
          <button type="button" appWizardPrevStepDirective mat-button>Previous</button>
          <button type="submit" [disabled]="!shippingOption.valid" appWizardEndDirective color="primary"
            mat-raised-button>Confirm</button>
        </section>
      </form>
    </app-wizard-step>
  </app-wizard>
  <ng-container *ngIf="completed">
    <h2 class="mat-headline">shippingInfo Object</h2>
    <code>
      <pre>{{shippingInfo | json}}</pre>
    </code>
    <app-shipping-label [shippingInfo]="shippingInfo"></app-shipping-label>    
  </ng-container>
</section>